

.irregularidades {
	background-color: #f7a5c1;
	text-align: center;
	font-family: "Novecento Normal";
}

.recursos {
	background-color: #b6d2eb;
	text-align: center;
	font-family: "Novecento Normal";
}

.discriminacion {
	background-color: #fdf8b0;
	text-align: center;
	font-family: "Novecento Normal";
}

.administracion {
	background-color: #a1d6d0;
	text-align: center;
	font-family: "Novecento Normal";
}

.contactos {
	background-color: #d3b2d6;
	text-align: center;
	font-family: "Novecento Normal";
} 

.favoritismo {
	background-color: #fcd6a5;
	text-align: center;
	font-family: "Novecento Normal";
}

.laborsocial {
	background-color: #d8fca5;
	text-align: center;
	font-family: "Novecento Normal";
}

.chapulineo {
	background-color: #cdcdcd;
	text-align: center;
	font-family: "Novecento Normal";
}

